@charset "UTF-8";
body {

background-color: grey;

font-family: Arial, sans-serif;


}

.search-container {

margin-top: 80px;

margin-left: 300px;

}

.search-input {

width: 250px;

height: 30px;

}

.search-button {

width: 100px;

height: 30px;

}

.select-container {

margin-top: 40px;

margin-left: 450px;

display: inline-block;

vertical-align: top;

width: calc(50% - 400px); /* Adjust width for two columns with spacing */

}

.select-element {

width: 100%; /* Full width within the container */

padding: 10px;

border-radius: 10px;

border: 2px solid black;

background-color: #333740;

color: #b1b8ca;

cursor: pointer;

font-size: 16px;

}

.select-element option {

background-color: #333740;

color: white;

}

.submit-button {

text-align: center;

margin-top: 100px;

}

.submit-button button{

width:120px;

height:40px;

background-color: #EF6B48;

}

.submit-button button:hover {

background-color: #0056b3;

}