@charset "UTF-8";

body{

background-color:grey;

}

.search-container{

margin-top:80px;

margin-left:300px;


}

.search-input{

width:250px;

height:30px

}

.search-button{

width:100px;

height:30px

}

.dropdown-container {

position: relative;

display: inline-block;

margin-top:80px;

margin-left:70px;

}

.dropdown-button {

background-color: #333740;

color: #b1b8ca;

border-radius: 10px;

text-align: center;

font-family: "Roboto", sans-serif;

font-weight: 800;

border: 2px solid black;

cursor: pointer;

padding: 10px;

min-width: 200px;

}

.dropdown-list-container {

position: absolute;

top: 100%;

left: 0;

width: 200px;

display: none;

}

.dropdown-list {

list-style-type: none;

padding: 0;

margin: 0;

background-color: #333740;

border: 2px solid black;

border-radius: 10px;

max-height: 200px;

overflow-y: auto;

color:white;

font-size:20px;


}

.dropdown-list-item {

padding: 10px;

cursor: pointer;


}

.dropdown-list-item:hover {

background-color: grey;

}