@charset "UTF-8";

nav
{ 
	float: right;
	width: 80%;
	background-color: silver;
	padding: 12px;
	
}

ul li
{
	
	list-style: none;
	display: inline; 
	font-size: 22px;
	padding: 12px;
}
 
li a{
	
	color: black;
}

li a:hover
{
	color: red;
	cursor: crosshair;
}