@charset "UTF-8";
body{
	background-color:black;
}
.main {



  background-color:  #202020;



  display: flex;



  justify-content: space-between;



  margin: 20px;



}

.student .content {
  position: absolute; /* Position the background text */
  bottom: 0;
  
  


}


/* Left column */



.col-sm-2 {



  flex-basis: 10%;



}







/* Right column */



.col-sm-10 {



  flex-basis: 90%;



}







/* Container styles */



.container{



  background-color:  #464646;



  padding: 20px;



  border-radius: 5px;



  height: 700px;



}







.container2 {



  background-color:  #202020;



  padding: 20px;



  border-radius: 5px;



  color: #E0E0E0; /* Change text color to light grey */



  height: 700px;



  background-image: url('D:/img1.jpg');



  background-size: cover;



}







/* Additional styles for student containers */



.student-container,.student-container1 {



  display: flex;



  justify-content: space-between;


 

}



.container2 img{



	width: 50px;



  height: 50px;



  border-radius: 25%;



}



.student {



  text-align: center;



  color: #E0E0E0; /* Change text color to light grey */



}







.student img {



  width: 250px;



  height: 200px;



  border-radius: 25%;



}







 







/* Logo */



.main-logo {



  width: 100px;



  height: auto;



}







/* Centered elements */



.center {



  text-align: center;



}







/* Navigation links */



ul {



  list-style-type: none;



  padding: 0;



}







li {



  margin-bottom: 10px;



  padding-top: 10px;



  padding-bottom: 10px;



  font-size: 15px;



}







a {



  text-decoration: none;



  color: #E0E0E0; /* Change text color to light grey */



  font-weight: bold;



}







a:hover {



  color: #B0B0B0; /* Change hover color to a lighter grey */



}











/* Bottom buttons */



.bottom-buttons {



  display: flex;



  justify-content: space-between;



  margin-top: 320px;



}







.back-button,



.back-button {



  background-color: #ffcc00;



  color: black;



  margin-top:150px;



  box-shadow: 5px 5px #ff7a00;



}



.back-button:hover{



	box-shadow:0 4px 8px 0 rgb(230, 230, 230), 0 6px 20px 0 rgb(230, 230, 230);



}



.upload-button {



  background-color: #fff;



  color: black;



   margin-top:150px;



   border: 10px black;



}







.upload-button:hover {



 box-shadow: 0 4px 8px 0 rgb(217, 217, 217),0 6px 20px 0 rgb(217, 217, 217);



  background-color: #3e8e41;



  color: white;

  



}



h2



{



	margin : -35px 0px 0px 80px;



	font-size:18px



}

p{

	

margin : -35px 400px 0px 0px;

	font-size:18px

	}

h1	

{

    text-align: center;

	margin : 0px 0px 0px 0px;

	font-size:18px

}

.student_cont1{

	width:200px;

	height:150px;

	background-color:white;

}

.student_cont2{

	width:200px;

	height:150px;

	background-color:white

}

.student_cont3{

	width:200px;

	height:150px;

	background-color:white;

}



.student-container1 p{

	



margin : -35px 400px 0px 0px;



	font-size:18px



	}



/* Congratulations text */

.congratulations-text {

  text-align: center;

  margin-top: 20px;

  font-weight: bold;

}





