@charset "UTF-8";
/* studdash.css */
body{
	background-color:black;
}
/* Main container */
.main {
  background-color:  #202020;
  display: flex;
  justify-content: space-between;
  margin: 20px;
}

/* Left column */
.col-sm-2 {
  flex-basis: 10%;
}

/* Right column */
.col-sm-10 {
  flex-basis: 90%;
}

/* Container styles */
.container {
  background-color:  #464646;
  padding: 20px;
  border-radius: 5px;
  height: 800px;
          margin-left: -20px;
        margin-top: -20px;
        width:200px;
}

.container2 {
  background-color:  #202020;
  padding: 20px;
  border-radius: 5px;
  margin-top: -20px;
    margin-left: -30px;
  color: #E0E0E0; /* Change text color to light grey */
  height: 700px;
  background-image: url('D:/img1.jpg');
  background-size: cover;
}

/* Additional styles for student containers */
.student-container,.student-container1 {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  
}
.container2 img{
	width: 50px;
  height: 50px;
  border-radius: 25%;
}
.student {
  text-align: center;
  color: #E0E0E0; /* Change text color to light grey */
}

.student img {
  width: 250px;
  height: 200px;
  border-radius: 25%;
}

.student p {
  margin-top: 10px;
}

/* Logo */
.main-logo {
  width: 100px;
  height: auto;
}

/* Centered elements */
.center {
  text-align: center;
}

/* Navigation links */
ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 15px;
}

a {
  text-decoration: none;
  color: #E0E0E0; /* Change text color to light grey */
  font-weight: bold;
}

a:hover {
  color: #B0B0B0; /* Change hover color to a lighter grey */
}


/* Bottom buttons */
.bottom-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.back-button,
.upload-button {
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
}

.back-button {
  background-color: #ffcc00;
  color: black;
  margin-top:80px;
  box-shadow: 5px 5px #ff7a00;
}
.back-button:hover{
	box-shadow:0 4px 8px 0 rgb(230, 230, 230), 0 6px 20px 0 rgb(230, 230, 230);
}
.upload-button {
  background-color: #fff;
  color: black;
   margin-top:80px;
   border: 10px black;
}

.upload-button:hover {
 box-shadow: 0 4px 8px 0 rgb(217, 217, 217),0 6px 20px 0 rgb(217, 217, 217);
  background-color: #3e8e41;
  color: white;
}
h2
{
	margin : -35px 0px 0px 80px;
	font-size:18px
}
.student-container1 p{
	
margin : -35px 400px 0px 0px;
	font-size:18px
	}
	.student{
	transition: transform .2s;
	}
	.student:hover {
	transform: scale(1.1);
	}
	 .form-group {
            margin-bottom: 15px;
        }
        label {
            font-weight: bold;
        }
        option,select{
        color: black;
        }
        input[type="text"], select {
            width: 40%;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 4px;
            box-sizing: border-box;
        }
        .student button{
         border-radius: 25%;
        }
       